<% layout('layouts/boilerplate') -%>
<h1>Posts index</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-4"><%- include("../partials/searchFilter") %></div>
		<div class="col-8"><div id="map"></div></div>
	</div>
</div>


<!-- pagination include -->
<%- include("../partials/paginatePosts") %>

<% posts.docs.forEach(function(post){%>
<div>
	<h2><%= post.title %></h2>
	<div>Price:<%= post.price %></div>
	<div><%= post.description %></div>
	<div><%= post.location %></div>
	<div><a href="/posts/<%= post.id %>">View More</a></div>
</div>
<% }); %>

<!-- pagination include -->
<%- include("../partials/paginatePosts") %>

<script>
// 	this comes from js script of mapbox in boilerplate
	mapboxgl.accessToken = "<%= mapboxToken %>";
// 	mapboxgl accepts this format
	var posts= {
		features : <%- JSON.stringify(posts.docs) %>
	};
	
</script>

<script src="/javascripts/allPostsClusters.js">
</script>